components/untitled file.json
{
    "name": "SM8 to HL Integration (VALIDATED by Gemini)",
    "flow": [
        {
            "id": 57,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "dynamicFilter",
                "scope": "roundtrip",
                "value": "edit_date gt '{{formatDate(addMinutes(now; -1440); \"YYYY-MM-DDTHH:mm:ss\")}}'"
            },
            "metadata": {
                "designer": {
                    "x": 110,
                    "y": 38
                }
            }
        },
        {
            "id": 46,
            "module": "http:ActionSendDataAPIKeyAuth",
            "version": 3,
            "parameters": {
                "auth": 108356,
                "handleErrors": false,
                "useNewZLibDeCompress": true
            },
            "mapper": {
                "ca": "",
                "qs": [
                    {
                        "name": "fields",
                        "value": "uuid,edit_date,generated_job_id,company_uuid,job_address,billing_address,status,active,geo_number,geo_street,geo_city,geo_state,geo_postcode,job_description,customfield_xero_tracking_cat_1,queue_uuid,job_is_scheduled_until_stamp"
                    },
                    {
                        "name": "limit",
                        "value": "5"
                    },
                    {
                        "name": "$filter",
                        "value": "edit_date gt '{{formatDate(addMinutes(now; -60); \"YYYY-MM-DD HH:mm:ss\")}}' and edit_date lt '{{formatDate(now; \"YYYY-MM-DD HH:mm:ss\")}}' and active eq 1\n"
                    },
                    {
                        "name": "$orderby",
                        "value": "edit_date desc"
                    }
                ],
                "url": "https://api.servicem8.com/api_1.0/job.json",
                "gzip": true,
                "method": "get",
                "headers": [
                    {
                        "name": "Accept",
                        "value": "application/json"
                    }
                ],
                "timeout": "",
                "useMtls": false,
                "bodyType": "",
                "serializeUrl": false,
                "shareCookies": false,
                "parseResponse": true,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": 464,
                    "y": 50
                }
            }
        },
        {
            "id": 36,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{46.data}}"
            },
            "metadata": {
                "designer": {
                    "x": 105,
                    "y": 361
                }
            }
        },
        {
            "id": 47,
            "module": "datastore:GetRecord",
            "version": 1,
            "parameters": {
                "datastore": 100449
            },
            "mapper": {
                "key": "{{36.uuid}}_{{36.edit_date}}",
                "returnWrapped": true
            },
            "metadata": {
                "designer": {
                    "x": 496,
                    "y": 385
                }
            }
        },
        {
            "id": 55,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 85,
                    "y": 648
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 31,
                            "module": "util:FunctionSleep",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "Continue to HL",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{47.key}}",
                                            "o": "notexist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "duration": "60"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 552,
                                    "y": 698
                                }
                            }
                        },
                        {
                            "id": 17,
                            "module": "http:ActionSendDataAPIKeyAuth",
                            "version": 3,
                            "parameters": {
                                "auth": 108356,
                                "handleErrors": false,
                                "useNewZLibDeCompress": true
                            },
                            "mapper": {
                                "ca": "",
                                "qs": [
                                    {
                                        "name": "$filter",
                                        "value": "job_uuid eq '{{36.uuid}}' and active eq 1"
                                    },
                                    {
                                        "name": "fields",
                                        "value": "uuid,first,last,email,mobile,phone,active,type"
                                    }
                                ],
                                "url": "https://api.servicem8.com/api_1.0/jobcontact.json",
                                "gzip": false,
                                "method": "get",
                                "headers": [
                                    {
                                        "name": "Accept",
                                        "value": "application/json"
                                    }
                                ],
                                "timeout": "",
                                "useMtls": false,
                                "bodyType": "",
                                "serializeUrl": false,
                                "shareCookies": false,
                                "parseResponse": true,
                                "followRedirect": false,
                                "useQuerystring": false,
                                "rejectUnauthorized": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 794,
                                    "y": 39
                                }
                            }
                        },
                        {
                            "id": 62,
                            "module": "builtin:BasicFeeder",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "array": "{{17.data}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 846,
                                    "y": 408
                                }
                            }
                        },
                        {
                            "id": 83,
                            "module": "regexp:Parser",
                            "version": 1,
                            "parameters": {
                                "pattern": "(04\\d{2}[\\s-]?\\d{3}[\\s-]?\\d{3})",
                                "global": false,
                                "sensitive": false,
                                "multiline": false,
                                "singleline": false,
                                "continueWhenNoRes": true
                            },
                            "mapper": {
                                "text": "{{62.phone}} {{62.mobile}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 916,
                                    "y": 789
                                }
                            }
                        },
                        {
                            "id": 84,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "contactPhoneClean",
                                "scope": "roundtrip",
                                "value": "{{replace(83.`$1`; \"\\\\D\"; \"\")}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1174,
                                    "y": 964
                                }
                            }
                        },
                        {
                            "id": 48,
                            "module": "highlevel:searchContacts",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 10372290
                            },
                            "filter": {
                                "name": "Email exists",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{62.email}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "search": "{{62.email}}",
                                "limit": "1"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1462,
                                    "y": 802
                                }
                            }
                        },
                        {
                            "id": 72,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "parameters": {
                                "else": 1
                            },
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 1144,
                                    "y": 397
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 49,
                                            "module": "builtin:BasicRouter",
                                            "version": 1,
                                            "filter": {
                                                "name": "Found By Email",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{48.`__IMTLENGTH__`}}",
                                                            "o": "number:greater",
                                                            "b": "0"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": null,
                                            "metadata": {
                                                "designer": {
                                                    "x": 1106,
                                                    "y": -57
                                                }
                                            },
                                            "routes": [
                                                {
                                                    "flow": [
                                                        {
                                                            "id": 50,
                                                            "module": "highlevel:updateAContact",
                                                            "version": 1,
                                                            "parameters": {
                                                                "__IMTCONN__": 10372290
                                                            },
                                                            "filter": {
                                                                "name": "Contact Found - Update",
                                                                "conditions": [
                                                                    [
                                                                        {
                                                                            "a": "{{48.`__IMTLENGTH__`}}",
                                                                            "b": "0",
                                                                            "o": "number:greater"
                                                                        }
                                                                    ]
                                                                ]
                                                            },
                                                            "mapper": {
                                                                "contact": "{{48.id}}",
                                                                "firstName": "{{ifempty(62.first; null)}}",
                                                                "lastName": "{{ifempty(62.last; null)}}",
                                                                "email": "{{ifempty(62.email; null)}}",
                                                                "phone": "{{if(84.contactPhoneClean; \"+61\" + substring(84.contactPhoneClean; 1); null)}}",
                                                                "address": {
                                                                    "address1": "{{if(36.geo_street; 36.geo_number + 36.geo_street; null)}}",
                                                                    "city": "{{ifempty(36.geo_city; null)}}",
                                                                    "state": "{{ifempty(36.geo_state; null)}}",
                                                                    "postalCode": "{{ifempty(36.geo_postcode; null)}}",
                                                                    "country": "AU"
                                                                },
                                                                "timezone": "Australia/Sydney",
                                                                "dnd": false,
                                                                "customField": {
                                                                    "CSAX2I2yV4TZMff1Vjmk": "{{36.uuid}}",
                                                                    "K3YtWPxw7U5MD3ia3rpP": "{{36.generated_job_id}}",
                                                                    "JGO6xJzlRKxhfyReQtkW": "{{36.status}}",
                                                                    "6n4JHTSUkSSqEag7jvP5": "{{36.customfield_xero_tracking_cat_1}}",
                                                                    "2PaCsoHMXNNkwJjlzOCS": "{{ifempty(36.billing_address; null)}}",
                                                                    "UAWINDo1d78eC1lYupu8": "{{ifempty(36.geo_city; null)}}",
                                                                    "no54eeS82LmxVVWrsren": "{{ifempty(36.job_description; \"No Message\")}}",
                                                                    "vsgy8WG5lBQoxX9QgPwP": "{{62.uuid}}"
                                                                }
                                                            },
                                                            "metadata": {
                                                                "designer": {
                                                                    "x": 1720,
                                                                    "y": 26
                                                                }
                                                            }
                                                        },
                                                        {
                                                            "id": 69,
                                                            "module": "http:ActionSendData",
                                                            "version": 3,
                                                            "parameters": {
                                                                "handleErrors": true,
                                                                "useNewZLibDeCompress": true
                                                            },
                                                            "mapper": {
                                                                "ca": "",
                                                                "qs": [
                                                                    {
                                                                        "name": "location_id",
                                                                        "value": "cNLcW7knE4jCwOCBtB4J"
                                                                    },
                                                                    {
                                                                        "name": "contact_id",
                                                                        "value": "{{50.id}}"
                                                                    }
                                                                ],
                                                                "url": "https://services.leadconnectorhq.com/opportunities/",
                                                                "gzip": true,
                                                                "method": "get",
                                                                "headers": [
                                                                    {
                                                                        "name": "Authorization",
                                                                        "value": "Bearer pit-894ecd8c-b72c-4860-95ea-38bb157a1b9e"
                                                                    },
                                                                    {
                                                                        "name": "Version",
                                                                        "value": "2021-07-28"
                                                                    }
                                                                ],
                                                                "timeout": "",
                                                                "useMtls": false,
                                                                "authPass": "",
                                                                "authUser": "",
                                                                "bodyType": "",
                                                                "serializeUrl": false,
                                                                "shareCookies": false,
                                                                "parseResponse": false,
                                                                "followRedirect": true,
                                                                "useQuerystring": false,
                                                                "followAllRedirects": false,
                                                                "rejectUnauthorized": true
                                                            },
                                                            "metadata": {
                                                                "designer": {
                                                                    "x": 2113,
                                                                    "y": 27
                                                                }
                                                            }
                                                        }
                                                    ]
                                                },
                                                {
                                                    "flow": [
                                                        {
                                                            "id": 51,
                                                            "module": "highlevel:createAContact",
                                                            "version": 1,
                                                            "parameters": {
                                                                "__IMTCONN__": 10372290
                                                            },
                                                            "filter": {
                                                                "name": "Not found and has Valid Contact Info",
                                                                "conditions": [
                                                                    [
                                                                        {
                                                                            "a": "{{48.`__IMTLENGTH__`}}",
                                                                            "b": "0",
                                                                            "o": "text:equal"
                                                                        },
                                                                        {
                                                                            "a": "{{62.first}}",
                                                                            "o": "exist"
                                                                        },
                                                                        {
                                                                            "a": "{{62.last}}",
                                                                            "o": "exist"
                                                                        },
                                                                        {
                                                                            "a": "{{62.email}}",
                                                                            "o": "exist"
                                                                        }
                                                                    ],
                                                                    [
                                                                        {
                                                                            "a": "{{62.phone}}",
                                                                            "o": "exist"
                                                                        }
                                                                    ]
                                                                ]
                                                            },
                                                            "mapper": {
                                                                "email": "{{ifempty(62.email; null)}}",
                                                                "phone": "{{if(84.contactPhoneClean; \"+61\" + substring(84.contactPhoneClean; 1); null)}}",
                                                                "firstName": "{{ifempty(62.first; null)}}",
                                                                "lastName": "{{ifempty(62.last; null)}}",
                                                                "address": {
                                                                    "address1": "{{if(36.geo_street; 36.geo_number + 36.geo_street; null)}}",
                                                                    "city": "{{ifempty(36.geo_city; null)}}",
                                                                    "state": "{{ifempty(36.geo_state; null)}}",
                                                                    "postalCode": "{{ifempty(36.geo_postcode; null)}}",
                                                                    "country": "AU"
                                                                },
                                                                "timezone": "Australia/Sydney",
                                                                "dnd": false,
                                                                "customField": {
                                                                    "CSAX2I2yV4TZMff1Vjmk": "{{36.uuid}}",
                                                                    "K3YtWPxw7U5MD3ia3rpP": "{{36.generated_job_id}}",
                                                                    "JGO6xJzlRKxhfyReQtkW": "{{36.status}}",
                                                                    "6n4JHTSUkSSqEag7jvP5": "{{36.customfield_xero_tracking_cat_1}}",
                                                                    "2PaCsoHMXNNkwJjlzOCS": "{{ifempty(36.billing_address; null)}}",
                                                                    "UAWINDo1d78eC1lYupu8": "{{ifempty(36.geo_city; null)}}",
                                                                    "no54eeS82LmxVVWrsren": "{{ifempty(36.job_description; \"No Message\")}}",
                                                                    "vsgy8WG5lBQoxX9QgPwP": "{{62.uuid}}"
                                                                }
                                                            },
                                                            "metadata": {
                                                                "designer": {
                                                                    "x": 1726,
                                                                    "y": 284
                                                                }
                                                            },
                                                            "onerror": [
                                                                {
                                                                    "id": 70,
                                                                    "module": "builtin:Ignore",
                                                                    "version": 1,
                                                                    "metadata": {
                                                                        "designer": {
                                                                            "x": 1999,
                                                                            "y": 458
                                                                        }
                                                                    }
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "id": 54,
                                                            "module": "datastore:AddRecord",
                                                            "version": 1,
                                                            "parameters": {
                                                                "datastore": 100449
                                                            },
                                                            "mapper": {
                                                                "key": "{{36.uuid}}_{{36.edit_date}}",
                                                                "data": {
                                                                    "value": "processed: {{now}}"
                                                                },
                                                                "overwrite": true
                                                            },
                                                            "metadata": {
                                                                "designer": {
                                                                    "x": 2175,
                                                                    "y": 302
                                                                }
                                                            }
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 73,
                                            "module": "highlevel:searchContacts",
                                            "version": 1,
                                            "parameters": {
                                                "__IMTCONN__": 10372290
                                            },
                                            "filter": {
                                                "name": "Fallback",
                                                "conditions": []
                                            },
                                            "mapper": {
                                                "search": "{{84.contactPhoneClean}}",
                                                "limit": "1"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1839,
                                                    "y": 706
                                                }
                                            }
                                        },
                                        {
                                            "id": 74,
                                            "module": "builtin:BasicRouter",
                                            "version": 1,
                                            "parameters": {
                                                "else": 1
                                            },
                                            "mapper": null,
                                            "metadata": {
                                                "designer": {
                                                    "x": 2372,
                                                    "y": 782
                                                }
                                            },
                                            "routes": [
                                                {
                                                    "flow": [
                                                        {
                                                            "id": 75,
                                                            "module": "highlevel:updateAContact",
                                                            "version": 1,
                                                            "parameters": {
                                                                "__IMTCONN__": 10372290
                                                            },
                                                            "filter": {
                                                                "name": "Found by Phone - Update Contact",
                                                                "conditions": [
                                                                    [
                                                                        {
                                                                            "a": "{{73.`__IMTLENGTH__`}}",
                                                                            "o": "number:greater",
                                                                            "b": "0"
                                                                        }
                                                                    ]
                                                                ]
                                                            },
                                                            "mapper": {
                                                                "contact": "{{73.id}}",
                                                                "firstName": "{{ifempty(62.first; null)}}",
                                                                "lastName": "{{ifempty(62.last; null)}}",
                                                                "email": "{{ifempty(62.email; null)}}",
                                                                "phone": "{{if(84.contactPhoneClean; \"+61\" + substring(84.contactPhoneClean; 1); null)}}",
                                                                "address": {
                                                                    "address1": "{{if(36.geo_street; 36.geo_number + 36.geo_street; null)}}",
                                                                    "city": "{{ifempty(36.geo_city; null)}}",
                                                                    "state": "{{ifempty(36.geo_state; null)}}",
                                                                    "postalCode": "{{ifempty(36.geo_postcode; null)}}",
                                                                    "country": "AU"
                                                                },
                                                                "timezone": "Australia/Sydney",
                                                                "dnd": false,
                                                                "customField": {
                                                                    "CSAX2I2yV4TZMff1Vjmk": "{{36.uuid}}",
                                                                    "K3YtWPxw7U5MD3ia3rpP": "{{36.generated_job_id}}",
                                                                    "JGO6xJzlRKxhfyReQtkW": "{{36.status}}",
                                                                    "6n4JHTSUkSSqEag7jvP5": "{{36.customfield_xero_tracking_cat_1}}",
                                                                    "2PaCsoHMXNNkwJjlzOCS": "{{ifempty(36.billing_address; null)}}",
                                                                    "UAWINDo1d78eC1lYupu8": "{{ifempty(36.geo_city; null)}}",
                                                                    "no54eeS82LmxVVWrsren": "{{ifempty(36.job_description; \"No Message\")}}",
                                                                    "vsgy8WG5lBQoxX9QgPwP": "{{62.uuid}}"
                                                                }
                                                            },
                                                            "metadata": {
                                                                "designer": {
                                                                    "x": 2645,
                                                                    "y": 323
                                                                }
                                                            },
                                                            "onerror": [
                                                                {
                                                                    "id": 80,
                                                                    "module": "builtin:Ignore",
                                                                    "version": 1,
                                                                    "metadata": {
                                                                        "designer": {
                                                                            "x": 2922,
                                                                            "y": 204
                                                                        }
                                                                    }
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "id": 79,
                                                            "module": "http:ActionSendData",
                                                            "version": 3,
                                                            "parameters": {
                                                                "handleErrors": true,
                                                                "useNewZLibDeCompress": true
                                                            },
                                                            "mapper": {
                                                                "url": "https://services.leadconnectorhq.com/opportunities/",
                                                                "serializeUrl": false,
                                                                "method": "get",
                                                                "headers": [
                                                                    {
                                                                        "name": "Authorization",
                                                                        "value": "Bearer pit-894ecd8c-b72c-4860-95ea-38bb157a1b9e"
                                                                    },
                                                                    {
                                                                        "name": "Version",
                                                                        "value": "2021-07-28"
                                                                    }
                                                                ],
                                                                "qs": [
                                                                    {
                                                                        "name": "location_id",
                                                                        "value": "cNLcW7knE4jCwOCBtB4J"
                                                                    },
                                                                    {
                                                                        "name": "contact_id",
                                                                        "value": "{{75.id}}"
                                                                    }
                                                                ],
                                                                "bodyType": "",
                                                                "parseResponse": false,
                                                                "authUser": "",
                                                                "authPass": "",
                                                                "timeout": "",
                                                                "shareCookies": false,
                                                                "ca": "",
                                                                "rejectUnauthorized": true,
                                                                "followRedirect": true,
                                                                "useQuerystring": false,
                                                                "gzip": true,
                                                                "useMtls": false,
                                                                "followAllRedirects": false
                                                            },
                                                            "metadata": {
                                                                "designer": {
                                                                    "x": 2698,
                                                                    "y": -20
                                                                }
                                                            }
                                                        }
                                                    ]
                                                },
                                                {
                                                    "flow": [
                                                        {
                                                            "id": 76,
                                                            "module": "highlevel:createAContact",
                                                            "version": 1,
                                                            "parameters": {
                                                                "__IMTCONN__": 10372290
                                                            },
                                                            "filter": {
                                                                "name": "Not Found by Phone - Create Contact",
                                                                "conditions": []
                                                            },
                                                            "mapper": {
                                                                "email": "{{ifempty(62.email; null)}}",
                                                                "phone": "{{if(84.contactPhoneClean; \"+61\" + substring(84.contactPhoneClean; 1); null)}}",
                                                                "firstName": "{{ifempty(62.first; null)}}",
                                                                "lastName": "{{ifempty(62.last; null)}}",
                                                                "address": {
                                                                    "address1": "{{if(36.geo_street; 36.geo_number + 36.geo_street; null)}}",
                                                                    "city": "{{ifempty(36.geo_city; null)}}",
                                                                    "state": "{{ifempty(36.geo_state; null)}}",
                                                                    "postalCode": "{{ifempty(36.geo_postcode; null)}}",
                                                                    "country": "AU"
                                                                },
                                                                "timezone": "Australia/Sydney",
                                                                "dnd": false,
                                                                "customField": {
                                                                    "CSAX2I2yV4TZMff1Vjmk": "{{36.uuid}}",
                                                                    "K3YtWPxw7U5MD3ia3rpP": "{{36.generated_job_id}}",
                                                                    "JGO6xJzlRKxhfyReQtkW": "{{36.status}}",
                                                                    "6n4JHTSUkSSqEag7jvP5": "{{36.customfield_xero_tracking_cat_1}}",
                                                                    "2PaCsoHMXNNkwJjlzOCS": "{{ifempty(36.billing_address; null)}}",
                                                                    "UAWINDo1d78eC1lYupu8": "{{ifempty(36.geo_city; null)}}",
                                                                    "no54eeS82LmxVVWrsren": "{{ifempty(36.job_description; \"No Message\")}}",
                                                                    "vsgy8WG5lBQoxX9QgPwP": "{{62.uuid}}"
                                                                }
                                                            },
                                                            "metadata": {
                                                                "designer": {
                                                                    "x": 2962,
                                                                    "y": 777
                                                                }
                                                            },
                                                            "onerror": [
                                                                {
                                                                    "id": 80,
                                                                    "module": "builtin:Ignore",
                                                                    "version": 1,
                                                                    "metadata": {
                                                                        "designer": {
                                                                            "x": 2922,
                                                                            "y": 204
                                                                        }
                                                                    }
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "id": 78,
                                                            "module": "datastore:AddRecord",
                                                            "version": 1,
                                                            "parameters": {
                                                                "datastore": 100449
                                                            },
                                                            "mapper": {
                                                                "key": "{{36.uuid}}_{{36.edit_date}}",
                                                                "data": {
                                                                    "value": "processed: {{now}}"
                                                                },
                                                                "overwrite": true
                                                            },
                                                            "metadata": {
                                                                "designer": {
                                                                    "x": 3378,
                                                                    "y": 769
                                                                }
                                                            }
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null
        },
        "designer": {
            "orphans": [
                [
                    {
                        "id": 68,
                        "module": "builtin:BasicRouter",
                        "version": 1,
                        "mapper": null,
                        "metadata": {
                            "designer": {
                                "x": 2036,
                                "y": 1556,
                                "messages": [
                                    {
                                        "category": "link",
                                        "severity": "warning",
                                        "message": "The module is not connected to the data flow."
                                    }
                                ]
                            }
                        },
                        "routes": []
                    }
                ],
                [
                    {
                        "id": 52,
                        "module": "datastore:AddRecord",
                        "version": 1,
                        "parameters": {
                            "datastore": 100449
                        },
                        "mapper": {
                            "key": "{{36.uuid}}_{{36.edit_date}}",
                            "data": {
                                "value": "processed: {{now}}"
                            },
                            "overwrite": true
                        },
                        "metadata": {
                            "designer": {
                                "x": 1550,
                                "y": 1566,
                                "messages": [
                                    {
                                        "category": "link",
                                        "severity": "warning",
                                        "message": "The module is not connected to the data flow."
                                    },
                                    {
                                        "category": "reference",
                                        "severity": "warning",
                                        "message": "Referenced module 'Flow Control - Iterator' [36] is not accessible."
                                    }
                                ]
                            }
                        }
                    }
                ],
                [
                    {
                        "id": 63,
                        "module": "util:SetVariable2",
                        "version": 1,
                        "parameters": {},
                        "mapper": {
                            "name": "contactPhone",
                            "scope": "roundtrip",
                            "value": "{{replace(get(match(toString(62.phone) + \" \"\" \"\" \" + toString(62.mobile); \"(04\\\\d{2}[\\\\s-]?\\\\d{3}[\\\\s-]?\\\\d{3})\" / ); 1); \"[^0-9]\" / \"g\"\"\"; \" \"\"\"\"\")}}"
                        },
                        "metadata": {
                            "designer": {
                                "x": 538,
                                "y": 1176,
                                "messages": [
                                    {
                                        "category": "reference",
                                        "severity": "error",
                                        "message": "Invalid IML for parameter '{{replace(get(match(toString(62.phone) + \" \"\" \"\" \" + toString(62.mobile); \"(04\\\\d{2}[\\\\s-]?\\\\d{3}[\\\\s-]?\\\\d{3})\" / ); 1); \"[^0-9]\" / \"g\"\"\"; \" \"\"\"\"\")}}': Operator on end of an expression."
                                    },
                                    {
                                        "category": "reference",
                                        "severity": "warning",
                                        "message": "Referenced module 'Flow Control - Iterator' [62] is not accessible."
                                    },
                                    {
                                        "category": "link",
                                        "severity": "warning",
                                        "message": "The module is not connected to the data flow."
                                    }
                                ]
                            },
                            "restore": {
                                "expect": {
                                    "scope": {
                                        "label": "One cycle"
                                    }
                                }
                            },
                            "expect": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Variable name",
                                    "required": true
                                },
                                {
                                    "name": "scope",
                                    "type": "select",
                                    "label": "Variable lifetime",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            "roundtrip",
                                            "execution"
                                        ]
                                    }
                                },
                                {
                                    "name": "value",
                                    "type": "any",
                                    "label": "Variable value"
                                }
                            ],
                            "interface": [
                                {
                                    "name": "contactPhone",
                                    "label": "contactPhone",
                                    "type": "any"
                                }
                            ]
                        }
                    }
                ]
            ]
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}
}
This is my very latest. 
I have done all the changes and now the Run Once is not pulling any jobs at all from S8. 
I have a new job in S8 that should be pulled. 
Please look at the latest Json and tell me what the problem is. 
This is all getting very frustrating again. 
But it's not you - it's me I am sure I have done something very silly. 
please show me. 
I am going to get some dinner while you work.